@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  border-color: lightgrey;
  
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {

  > ul {
    width: 175px;
    display: flex;
    justify-content: space-between;
    > li {
      
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > li {
      
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }

  button {
    background-color: rgb(53, 111, 196);
    color: white;
    font-weight: 400;
    border-radius: 4px;
  }

  button:hover {
    border-color: darkblue;
    background-color: darkblue;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    